@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 15% 6%;
    --foreground: 225 33% 92%;
    --card: 222 23% 11%;
    --card-foreground: 225 33% 92%;
    --popover: 222 23% 11%;
    --popover-foreground: 225 33% 92%;
    --primary: 175 58% 56%;
    --primary-foreground: 220 15% 6%;
    --secondary: 227 28% 15%;
    --secondary-foreground: 225 33% 92%;
    --muted: 228 14% 35%;
    --muted-foreground: 227 13% 77%;
    --accent: 227 28% 15%;
    --accent-foreground: 225 33% 92%;
    --destructive: 0 100% 71%;
    --destructive-foreground: 220 15% 6%;
    --border: 224 23% 18%;
    --input: 224 23% 18%;
    --ring: 234 100% 71%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 220 15% 6%;
    --sidebar-foreground: 225 33% 92%;
    --sidebar-primary: 175 58% 56%;
    --sidebar-primary-foreground: 220 15% 6%;
    --sidebar-accent: 227 28% 15%;
    --sidebar-accent-foreground: 225 33% 92%;
    --sidebar-border: 224 23% 18%;
    --sidebar-ring: 234 100% 71%;
  }

  .dark {
    --background: 220 15% 6%;
    --foreground: 225 33% 92%;
    --card: 222 23% 11%;
    --card-foreground: 225 33% 92%;
    --popover: 222 23% 11%;
    --popover-foreground: 225 33% 92%;
    --primary: 175 58% 56%;
    --primary-foreground: 220 15% 6%;
    --secondary: 227 28% 15%;
    --secondary-foreground: 225 33% 92%;
    --muted: 228 14% 35%;
    --muted-foreground: 227 13% 77%;
    --accent: 227 28% 15%;
    --accent-foreground: 225 33% 92%;
    --destructive: 0 100% 71%;
    --destructive-foreground: 220 15% 6%;
    --border: 224 23% 18%;
    --input: 224 23% 18%;
    --ring: 234 100% 71%;
    
    --sidebar-background: 220 15% 6%;
    --sidebar-foreground: 225 33% 92%;
    --sidebar-primary: 175 58% 56%;
    --sidebar-primary-foreground: 220 15% 6%;
    --sidebar-accent: 227 28% 15%;
    --sidebar-accent-foreground: 225 33% 92%;
    --sidebar-border: 224 23% 18%;
    --sidebar-ring: 234 100% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url('https://ik.imagekit.io/ag5q0my3t/fabio-oyXis2kALVg-unsplash.jpg?updatedAt=1766529098649');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
  }
}
